.col-1 { width: 8.33%; float: left;}

.col-2 { width: 16.66%; float: left;}

.col-3 { width: 25%; float: left;}

.col-4 { width: 33.33%; float: left; }

.col-5 { width: 41.66%; float: left;}

.col-6 { width: 50%; float: left; }

.col-7 { width: 58.33%; float: left;}

.col-8 { width: 66%; float: left;}

.col-9 { width: 75%; float: left;}

.col-10 { width: 83.33%; float: left;}

.col-11 { width: 91.66%; float: left;}

.col-12 { width: 100%; float: left;}

@media only screen and (min-width:320px)

{
    .bg1
    {
        width:100%;
    }
}

@media only screen and (max-width:640px) and (min-width:320px)

{
    .bg1 ul li
    {
        width:100%;
    }
}

.bg1

{
    background-color: rgb(53, 49, 49);
}

/* .bg1 ul li
{
    display: inline-block;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    margin: 20px;
} */

/* .menuright

{
    float: right;
    margin-top: -15px;
} */

ul{
    list-style-type: none;
    float:  right;
}
ul li{
   display: inline-block;
 
}
