.col-1 {
    width: 8.33%;
    float: left;
}

.col-2 {
    width: 16.66%;
    float: left;
}

.col-3 {
    width: 25%;
    float: left;
}

.col-4 {
    width: 33.33%;
    float: left;
}

.col-5 {
    width: 41.66%;
    float: left;
}

.col-6 {
    width: 50%;
    float: left;
}

.col-7 {
    width: 58.33%;
    float: left;
}

.col-8 {
    width: 66%;
    float: left;
}

.col-9 {
    width: 75%;
    float: left;
}

.col-10 {
    width: 83.33%;
    float: left; 
}

.col-11 {
    width: 91.66%;
    float: left;
}

.col-12 {
    width: 100%;
    float: left;
}

*
{
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    


}


.menucontainer
{
    background-color: #C9002B;
}
@media only screen and (max-width:375px)
{
    .menucontainer  {
        background-color:#004B93;
    }
}

.menucontainer ul li
{
    list-style: none;
    display: inline-block;
    margin: 0px 55px 0px 55px;
    padding: 2px;
    color: white;
    font-weight: bolder;
}

 /* @media only screen and (min-width:320px)
{
    [class*="col-"]
    {
        width:100%;
    }
} */

/* @media only screen and (max-width:320px)
{
    .menucontainer
    {
        width:100%;
    }
}  */


.left{

    background-color:#C9002B;
    margin-top: 10px;
}

@media only screen and (max-width:375px)
{
    .left  {
        background-color:#004B93;
    }
}

@media only screen and (max-width:375px)
{
    .menucontainer ul li {

        padding: 10px 0px 10px 0px;

    }
}

.leftmenu

{
    float: left;
}

.left ul li
{
    margin: 40px 0px 40px 0px;
    list-style: none;
    color: white;
    font-weight: bolder;

}

@media only screen and (max-width:375px)
{
    body{
        overflow: scroll;
    }
}

@media only screen and (max-width:375px)
{
    .col-2{
        width: 100%;

    }
    .left ul li
    {
        margin-left: 50px;
    }
    .unorderlist1{
    }
    .right {
  
        display: block;
        top:-200px;

    }
    .col-10
{
    background-color: #c3ddf6;
}
   
    .unorderlist1
    {
        margin-top: 100px;
    }
    .unorderlist3div 
    {
    
        position: absolute;
        right: -80px;
        top: 450px;
    }
    .unorderlistdiv2
    {
        position: absolute;
       top: 730px;
       right: -80px;


    }
    .unorderlistdiv2 ul li{

        display: inline-flex;
    }
    .buttons1
    {
        position: absolute;
        top:700px;
        right:50px;
        display: inline-flex;
    }
    .buttons1 button{
        background-color: #004B93;
        color: white;
    }
    .photo

    {

    position: absolute;
    top:-15px;
    right: 80px;

    }


}
    

.right ul li
{
    list-style: none;
}

.right

{
    background-color: rgb(249, 240, 185);
    border: 1px solid black;
    float: right;
    margin-top: -453px;
    height: 450px;
    overflow: scroll;
}
 
label

{
    margin: 10px 15px 10px 15px;

}
input

{
    margin: 10px 15px 10px 15px;
}

select

{
    margin-top: 50px;
    margin-left: 5px;
}



@media only screen and (max-width:720px)
{
    .col-10
    {
        width:80%;
        position: absolute;
        top:1500px;
    
    }
    .unorderlist1 li{
        display: block;
    }
}

.unorderlist2 li
{
    list-style: none;
    display: block;
    margin: 15px;
}
             
.unorderlistdiv2
{

    margin-left: 600px;
    margin-top: -230px;
    /* border:1px solid black */
}
.unorderlist3div

{
    margin-left: 300px;
    margin-top: -150px;
}
.unorderlist3 ul li
{
    list-style: none;
    display: block;
    margin: 15px;
}

.photo

{
    height: 80px;
    width: 80px;
    border: 1px solid black;
    margin-left: 950px;
    margin-top: 10px;
    
}

.buttons1

{
    margin-left: 450px;
    margin-top: 80px;
}


.buttons1 button

{

    display: inline-block;
    padding: 10px;
    margin: 10px ;
}